.book {
    font-weight: normal !important;
}

.markdown-section h1 {
    border-bottom: 1px solid #D7DAE1;
    padding-bottom: 20px;
}

.book-summary {
    background-color: #f8f8f8;
}

.book-summary ul.summary li.active {
    border-left-color: #07ae79;
}

.cuav-trigger.fa {
    display: none;
}

/* 左侧 */
.navigation {
    width: 320px;
}

.navigation ul.summary {
    padding-left: 32px;
}

#anchor-navigation-ex-navbar {
    top: 78px;
}

.book-header h1 {
    display: none !important;
}

.page-wrapper {
    margin-top: -40px;
}

.page-wrapper .page-inner {
    padding-top: 0 !important;
}

.book-summary ul.summary li a:hover {
    text-decoration: none;
    color: #07ae79;
}

.book-summary ul.summary li.active>a {
    color: #07ae79;
}

.markdown-section h2 {
    margin-top: 3rem !important;
}

.markdown-section h3 {
    margin-top: 2rem !important;
}


p img {
    margin-top: .85em;
}


.developer-center a:hover {
    color: #28D390 !important;
}

.developer-center a {
    color: #28D390;
}


@media (min-width: 1200px) {}