.book {
    font-weight: normal !important;
}

.book p {
    letter-spacing: 0.2px !important;
}

.markdown-section h1 {
    border-bottom: 1px solid #D7DAE1;
    padding-bottom: 20px;
}

.book-summary {
    background-color: #fafafa;
}

.book-summary ul.summary li.active {
    border-left-color: #07ae79;
}

.cuav-trigger.fa {
    display: none;
}

.navigation ul.summary {
    padding-left: 32px;
}

#anchor-navigation-ex-navbar {
    top: 78px;
}

.book-header h1 {
    display: none !important;
}

.page-wrapper .page-inner {
    padding-top: 0 !important;
}

.book-summary ul.summary li a:hover {
    text-decoration: none;
    color: #07ae79;
}

.book-summary ul.summary li.active>a {
    color: #07ae79;
}

.markdown-section h2 {
    margin-top: 3rem !important;
}

.markdown-section h3 {
    margin-top: 2rem !important;
}


p img {
    margin-top: .85em;
}


.developer-center a:hover {
    color: #28D390 !important;
}

.developer-center a {
    color: #28D390;
}

#version-toggle,
#language-toggle {
    display: block;
    padding: 10px 0;
    border-bottom: none;
    color: #364149;
    background: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    position: relative;
}

#version-toggle {
    width: 120px;
    padding-left: 10px;
}

#language-toggle {
    width: 179px;
    float: right;
    text-align: right;
    padding-right: 10px;
}

#version-toggle select,
#language-toggle select {
    font-size: 16px;
    outline: none;
    border: none;
    appearance: none;
    -moz-appearance: none;
    padding-left: 12px;
    -webkit-appearance: none;
    background: url(https://developer.emqx.io/static/images/arrow.png) no-repeat scroll right 7px transparent;
    padding-right: 20px;
}

.version--wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 299px;
    border-top: 1px solid #E6E8F1;
    font-size: 16px;
}